@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import "utils/utils";

$nb-themes: nb-register-theme((
  //theme colors
  color-primary-100: #D6E4FF,
  color-primary-200: #ADC8FF,
  color-primary-300: #84A9FF,
  color-primary-400: #6690FF,
  color-primary-500: #3366FF,
  color-primary-600: #254EDB,
  color-primary-700: #1939B7,
  color-primary-800: #102693,
  color-primary-900: #091A7A,
  color-primary-transparent-100: rgba(51, 102, 255, 0.08),
  color-primary-transparent-200: rgba(51, 102, 255, 0.16),
  color-primary-transparent-300: rgba(51, 102, 255, 0.24),
  color-primary-transparent-400: rgba(51, 102, 255, 0.32),
  color-primary-transparent-500: rgba(51, 102, 255, 0.4),
  color-primary-transparent-600: rgba(51, 102, 255, 0.48),
  color-success-100: #C8FACB,
  color-success-200: #93F5A3,
  color-success-300: #5AE17D,
  color-success-400: #30C366,
  color-success-500: #009b48,
  color-success-600: #00854B,
  color-success-700: #006F4A,
  color-success-800: #005944,
  color-success-900: #004A40,
  color-success-transparent-100: rgba(0, 155, 72, 0.08),
  color-success-transparent-200: rgba(0, 155, 72, 0.16),
  color-success-transparent-300: rgba(0, 155, 72, 0.24),
  color-success-transparent-400: rgba(0, 155, 72, 0.32),
  color-success-transparent-500: rgba(0, 155, 72, 0.4),
  color-success-transparent-600: rgba(0, 155, 72, 0.48),
  color-info-100: #D7FEF4,
  color-info-200: #B1FDEF,
  color-info-300: #89F9EE,
  color-info-400: #6AF4F2,
  color-info-500: #3BE1ED,
  color-info-600: #2BB3CB,
  color-info-700: #1D89AA,
  color-info-800: #126389,
  color-info-900: #0B4871,
  color-info-transparent-100: rgba(59, 225, 237, 0.08),
  color-info-transparent-200: rgba(59, 225, 237, 0.16),
  color-info-transparent-300: rgba(59, 225, 237, 0.24),
  color-info-transparent-400: rgba(59, 225, 237, 0.32),
  color-info-transparent-500: rgba(59, 225, 237, 0.4),
  color-info-transparent-600: rgba(59, 225, 237, 0.48),
  color-warning-100: #FEF1CB,
  color-warning-200: #FEDF98,
  color-warning-300: #FDC865,
  color-warning-400: #FCB13F,
  color-warning-500: #fb8c00,
  color-warning-600: #D76E00,
  color-warning-700: #B45400,
  color-warning-800: #913D00,
  color-warning-900: #782D00,
  color-warning-transparent-100: rgba(251, 140, 0, 0.08),
  color-warning-transparent-200: rgba(251, 140, 0, 0.16),
  color-warning-transparent-300: rgba(251, 140, 0, 0.24),
  color-warning-transparent-400: rgba(251, 140, 0, 0.32),
  color-warning-transparent-500: rgba(251, 140, 0, 0.4),
  color-warning-transparent-600: rgba(251, 140, 0, 0.48),
  color-danger-100: #FEE6D6,
  color-danger-200: #FDC7AE,
  color-danger-300: #FBA186,
  color-danger-400: #F87D67,
  color-danger-500: #f44336,
  color-danger-600: #D12729,
  color-danger-700: #AF1B29,
  color-danger-800: #8D1127,
  color-danger-900: #750A26,
  color-danger-transparent-100: rgba(244, 67, 54, 0.08),
  color-danger-transparent-200: rgba(244, 67, 54, 0.16),
  color-danger-transparent-300: rgba(244, 67, 54, 0.24),
  color-danger-transparent-400: rgba(244, 67, 54, 0.32),
  color-danger-transparent-500: rgba(244, 67, 54, 0.4),
  color-danger-transparent-600: rgba(244, 67, 54, 0.48),
  // scroll bar
  scrollbar-color:#cccccc,
  scrollbar-width:0.5rem,
  scrollbar-background-color:#fff,
  //font family
  font-family-primary:'Avenir Next',
), corporate, corporate);


